<!DOCTYPE html>
<html>
  <head>
    <title>Foundation 6 Customizer</title>
    <link rel='stylesheet' href='./stylesheets/foundation.min.css' />
     <link rel='stylesheet' href='./stylesheets/style.css' />
+    <script src='./javascripts/jquery.min.js'></script>
+    <script src='./javascripts/foundation.min.js'></script>
     <script src='./javascripts/app.js'></script>
  </head>
  <body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#"><%= title %></a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
  </nav>
  <% include partials/customizer.ejs %>
  <!--<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>-->
  </body>
</html>
