<!DOCTYPE html>
<html>
  <head>
    <title>Foundation 6 Customizer</title>
    <link rel='stylesheet' href='./stylesheets/foundation.min.css' />
     <link rel='stylesheet' href='./stylesheets/style.css' />
    <script src='./javascripts/jquery.min.js'></script>
    <script src='./javascripts/foundation.min.js'></script>
     <script src='./javascripts/app.js'></script>
  </head>
  <body>
  <% include partials/customizer.ejs %>
  <!--<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>-->
  </body>
</html>
